body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    text-align: center;
}

.container {
    width: 60%;
    margin: 40px auto;
    background: #1f2a40;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
}

h1 {
    color: #00e6e6;
}

.subtitle {
    color: #cccccc;
}

select, input, button {
    width: 80%;
    padding: 12px;
    margin: 10px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
}

button {
    background: #00e6e6;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #00b3b3;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background: #111;
    border-radius: 8px;
    font-size: 16px;
}

.memory {
    margin-top: 30px;
    text-align: left;
}

.segment {
    background: #293b5f;
    padding: 10px;
    margin: 8px 0;
    border-left: 5px solid #00e6e6;
}
